/* Sticky footer styles
-------------------------------------------------- */
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#interactive {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
}

.searchBar{
  width: 373px;
height: 43px;
float: right;
margin-right: 30px;
margin-top: 30px;
position: absolute;
right: 0px;
z-index: 1;
font-size: 14px;
color: #4e4e50;
}

/*loading*/
.loading {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-image: url('../imgs/loading.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #e5e9ec;
}

.footer {
  width: 100%;
    /* right: -300px; */
    float: right;
    /*padding-top: 12px;
    padding-bottom: 12px;*/
    background-color: #4CAF50;
    position: fixed;
    bottom: 0px;
    font-family: "DINMedium";
    font-size: 16px;
    color: #8d8d8d;
    /*padding-left: 3px;*/
    /*-moz-box-shadow: 3px 3px 12px -2px #000000;
    -webkit-box-shadow: 3px 3px 12px -2px #000000;
    box-shadow: 3px 3px 12px -2px #000000;*/
    text-align: center;
    z-index: 1;
}

.footer:hover {
  opacity: 0.9;
}

#header {
  width: 100%;
height: 70px;
background-color: #4CAF50;
-webkit-box-shadow: 1px 2px 7px rgb(148, 189, 149);
-moz-box-shadow: 1px 2px 7px rgb(148, 189, 149);
box-shadow: 1px 2px 7px rgb(148, 189, 149);
position: relative;
z-index: 9;
padding: 10px;
margin: 0 auto;
}

.searchBar > input#search_ex_places {
    left: 20px;
    position: fixed;
    box-shadow: 1px 2px 7px rgb(59, 134, 62);
    border-style: none;
    border-radius: 30px;
    padding: 10px;
}
.left_panel {
    width: 300px;
    overflow: hidden;
    /* min-height: 620px; */
    float: left;
    position: absolute;
    margin-top: 0px;
    left: -245px;
    z-index: 9;
}

.left_part {
    width: 245px;
    background-color: #fff;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: none;
}

.menubg {
    background-color: #fff;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 5px 0 5px rgba(50, 50, 50, 0.36);
    -moz-box-shadow: 5px 0 5px rgba(50, 50, 50, 0.36);
    box-shadow: 5px 0 5px rgba(50, 50, 50, 0.36);
    width: 41px;
    height: 47px;
    float: left;
    margin-top: 48px;
    cursor: pointer;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.menu {
  color: white;
}

#header>a>img {
  width: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
